/* Your custom css code goes here */
body {
    background: #EFF0F4;
    color: #8b8e94;
    line-height: 28px;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  
h1, h2, h3, h4, h5, h6 {
    color: #181920;
    line-height: 1.5;
    font-family: "Frank Ruhl Libre", sans-serif;
    font-weight: 700;
    margin: 0 0 30px 0;
  }

  .probootstrap-top-quick-contact-info span i {
    display: inline-block;
    margin-right: 10px;
    color: #C31732;
}

.probootstrap-counter-wrap .probootstrap-text .probootstrap-counter {
    display: block;
    font-size: 40px;
    color: #000;
    margin-bottom: 10px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
}

.probootstrap-navbar .navbar-brand {
    padding-top: 0!important;
    padding-bottom: 0!important;
    font-size: 30px;
    text-transform: uppercase;
    background: url(../img/Logo.svg) left 100% no-repeat;
    top: 15px;
    position: relative;
    width: 160px;
    height: 43px;
    text-indent: -999999px;
    -webkit-transition: .2s all;
    transition: .2s all;
}

.probootstrap-top-social ul li a {
    display: inline-block;
    padding: 4px;
    color: #C31732;
}

.probootstrap-navbar .dropdown > .dropdown-menu > li a:hover {
    border-top: none;
    background: #ffffff;
    color: #C31732;
  }
  
.probootstrap-navbar .dropdown > .dropdown-menu > li.open > a, .probootstrap-navbar .dropdown > .dropdown-menu > li:hover > a, .probootstrap-navbar .dropdown > .dropdown-menu > li:focus > a, .probootstrap-navbar .dropdown > .dropdown-menu > li:active > a {
    border-top: none;
    color: #C31732;
    background: #ffffff;
}

.probootstrap-navbar .dropdown-menu {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #C31732;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
    min-width: 200px;
    white-space: normal;
    word-wrap: break-word;
  }
  
  .probootstrap-navbar .navbar-nav > li.active > a {
    background: none !important;
    color: #C31732 !important;
  }

  .probootstrap-navbar .navbar-nav > li > .dropdown-menu:before {
    border: 1px solid #C31732;
    content: "";
    position: absolute;
    top: -20px;
    left: 40px;
    border-color: rgba(73, 210, 146, 0);
    border-bottom-color: #C31732;
    border-width: 10px;
    margin-left: -10px;
  }

  .probootstrap-hero.probootstrap-hero-colored {
    background: #0b2669;
  }

  .btn {
    border: none;
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .btn.btn-primary {
    border: 1px solid #C31732;
    background: #C31732;
    color: #ffffff;
  }

  .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    background: #e4314c;
  }
  
  .btn.btn-primary:focus, .btn.btn-primary:active {
    outline: none;
    border: 1px solid #C31732;
  }
  
  .btn.btn-ghost {
    background: transparent;
    border: 1px solid #C31732;
    color: #C31732;
  }
  
  .btn.btn-ghost:hover {
    background: #C31732;
    color: #ffffff;
  }
  
  .btn.btn-ghost:focus, .btn.btn-ghost:active {
    outline: none;
    background: transparent;
    color: #C31732;
    border: 1px solid #C31732;
  }

  .probootstrap-counter-wrap .probootstrap-icon i {
    font-size: 40px;
    color: #C31732;
  }

  .nav-tabs.probootstrap-tabs > li > a, .nav-pills.probootstrap-tabs > li > a {
    border-radius: 0px;
    padding: 20px 30px;
    background: #C31732;
    color: #ffffff;
    font-size: 16px;
    border: none !important;
  }

  .nav-tabs.probootstrap-tabs > li > a:hover, .nav-pills.probootstrap-tabs > li > a:hover {
    background: #e4314c;
  }

  .service .icon i {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.2);
    color: #C31732;
  }

  a {
    -webkit-transition: .3s all;
    transition: .3s all;
    color: #0b2669;
  }
  
  a:hover, a:focus, a:active {
    color: #0b2669;
    text-decoration: none;
  }

  .probootstrap-hero.probootstrap-hero-colored {
    background: #0b2669;
  }

  .probootstrap-showcase-nav ul li.active > a {
    color: #0b2669;
    padding-left: 0px;
    display: block;
  }

  .probootstrap-section.probootstrap-section-colored {
    background: #0b2669;
  }

  .probootstrap-cta {
    padding: 3em 0;
    background: #0b2669;
    color: #ffffff;
  }

  .probootstrap-cta .btn.btn-ghost:hover {
    background: #ffffff;
    color: #0b2669;
  }

  .probootstrap-featured-news-box .probootstrap-text {
    position: relative;
    z-index: 2;
    background: #ffffff;
    padding: 20px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    margin-left: 10px;
    margin-right: 10px;
    top: -30px;
    -webkit-transition: .3s all;
    transition: .3s all;
    border-bottom: 3px solid #0b2669;
  }

  .probootstrap-form .form-control:active, .probootstrap-form .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #0b2669;
  }
  
  .probootstrap-pricing .probootstrap-price-wrap .probootstrap-price {
    font-size: 50px;
    color: #0b2669;
    font-weight: 100;
    display: block;
    margin-bottom: 10px;
  }


  .probootstrap-featured-news-box:focus .probootstrap-text, .probootstrap-featured-news-box:hover .probootstrap-text {
    background: #0b2669;
    top: -40px;
    -webkit-box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
  }